* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  border-bottom: 2px solid;
  background-color: lightgray;
}

main {
  background-color: white;
}

.question_card {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 8px;
  margin: 30px;
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card_bookmark {
  position: absolute;
  top: -20px;
  right: 0px;
}

p.question {
  font-weight: bold;
  text-align: center;
}

.answer_button {
  border-style: outset;
  border-radius: 4px;
  font-size: 18px;
  background-color: lightgray;
  display: inline;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  font-size: 18px;
  padding: 20px;
}

.tag_section {
  display: flex;
  justify-content: left;
}

.tag {
  background-color: white;
  color: rgb(43, 4, 30);
  border-radius: 3px;
  gap: 10px;
  margin: 20px;
  margin-bottom: 0;
}

.profile_card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.image img {
  border-radius: 200px;
  width: 200px;
  padding: 10px;
}

.profile_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_name h2 {
  font-size: 20px;
  font-weight: 700;
}

.profile_text {
  padding: 20px;
}

.profile_text p {
  text-align: justify;
}

.profile_text h3 {
  font-weight: 700;
  font-size: 18px;
}

.profile_text h4 {
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
}

.profile_counter {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
}

.profile_counter p {
  font-weight: 800;
  font-size: 20px;
}

.profile_question_counter {
  background-color: lightblue;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  padding: 5px;
  width: 100px;
  height: 40px;
  gap: 30px;
}

.profile_bookmarks_counter {
  background-color: lightblue;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  padding: 5px;
  width: 100px;
  height: 40px;
  gap: 30px;
}

.profile_settings {
  display: flex;
  justify-content: space-around;
}

.profile_setting_modus h5 {
  font-weight: 700;
  font-size: 18px;
}

.footer {
  background-color: lightgray;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

a {
  color: black;
  justify-content: space-around;
  display: inline-flex;
  margin-bottom: 10px;
}
