@import "./global.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/main.css";
@import "./components/profile.css";
@import "./components/tag.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: white;
  display: flex;
  flex-direction: column;
}
