.button_answer {
  border-style: outset;
  border-radius: 4px;
  font-size: 18px;
  background-color: lightgray;
  display: inline;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.button_question_counter {
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  padding: 5px;
  width: 100px;
  height: 40px;
}

.button_bookmarks_counter {
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  padding: 5px;
  width: 100px;
  height: 40px;
  flex-direction: row;
}

.button_settings {
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  justify-content: left;
  padding: 5px;
  width: 100px;
  height: 40px;
  flex-direction: row;
}

.button_text {
  font-size: 18px;
  font-weight: 700;
}

.button_switch {
  border: none;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100px;
  height: 40px;
  flex-direction: row;
  background-color: white;
}
